{{ define "pageTitle" }}Sermons{{ end }}

{{ define "body" }}
<section class="lw14-content">
  <div class="container">
    <div class="row">
      <div class="lw14-sermons col-xs-12">
        {{ $paginator := .Paginate .Data.Pages }}

        <div class="lw14-sermons__pagination">
            {{ template "_internal/pagination.html" . }}
        </div>

        {{ range $paginator.Pages }}
          {{ partial "sermon.html" . }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
