<!DOCTYPE html>
<html>

<head>
  {{ partial "head.html" . }}
</head>

<body class="lw14-body lw14-body--{{ .Section }}">
  {{ partial "nav.html" . }}

  <section class="lw14-living-water-evangelical-church-intro lw14-page-intro jumbotron">
    <div class="container">
      <div class="row">
        <header class="col-xs-12" data-stellar-ratio="1.8">
          <h1 class="lw14-page-title">
            {{ block "pageTitle" . }}
              <!-- pageTitle -->
              Living Water
              <br>
              Evangelical Church
            {{ end }}
          </h1>

          {{ block "pageSubtitle" . }}
            <!-- pageSubtitle -->
          {{ end }}
        </header>
      </div>
    </div>
  </section>

  {{ block "body" . }}
    <!-- body -->
  {{ end }}

  {{ partial "footer.html" }}
</body>

</html>
