<!DOCTYPE html>
<html>

<head>
  {{ partial "head.html" . }}
</head>

<body class="lw14-body lw14-body--{{ if .IsHome }}home{{ else }}{{ .Kind }}-{{ if eq .Kind "section" }}{{ .Section }}-{{ end }}{{ .File.TranslationBaseName }}{{ end }}">
  {{ partial "nav.html" . }}

  <section class="lw14-living-water-evangelical-church-intro lw14-page-intro jumbotron">
    <div class="container">
      <div class="row">
        <header class="col-xs-12">
          <h1 class="lw14-page-title">
            {{ block "pageTitle" . }}
              <!-- pageTitle -->
              Living Water
              <br>
              Evangelical Church
            {{ end }}
          </h1>

          {{ block "pageSubtitle" . }}
            <!-- pageSubtitle -->
          {{ end }}
        </header>
      </div>
    </div>
  </section>

  {{ block "body" . }}
    <!-- body -->
  {{ end }}

  {{ partial "footer.html" }}

  {{ if eq .Site.Params.environment "production" }}
    <script src="{{ .Site.BaseURL }}lwechurch.js"></script>
  {{ else if eq .Site.Params.environment "development" }}
    <script src="//localhost:8080/lwechurch.js"></script>
  {{ end }}
</body>

</html>
