{{ define "pageSubtitle" }}
<p>A ministry dedicated to the worship of God.</p>
<p>Committed to growing together.</p>
<p>Living out the life-changing message of Jesus Christ.</p>
{{ end }}

{{ define "body" }}

{{ range where .Data.Pages "Section" "landing-page-section" }}
<section class="lw14-landing-{{ .Params.name }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="lw14-landing-title lw14-title lw14-landing-{{ .Params.name }}-title">{{ .Title }}</h2>
      </div>
    </div>

    {{ .Content }}
  </div>
</section>
{{ end }}

<section class="lw14-landing-staff">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="lw14-landing-staff-title lw14-landing-title lw14-title">Meet our staff…</h2>
      </div>
    </div>

    {{ range where .Data.Pages.ByWeight "Section" "staff" }}
    <div class="lw14-landing-staff-member lw14-landing-staff-member--{{ .File.TranslationBaseName }} row">
      <div class="lw14-landing-staff-photo-frame col-xs-12 col-sm-4 col-sm-offset-1 col-lg-3 col-lg-offset-0">
        <div class="lw14-landing-staff-photo"></div>
      </div>
      <div class="col-xs-12 col-sm-7 col-lg-offset-1">
        <h3 class="lw14-landing-staff-name lw14-landing-subtitle">{{ .Params.name }}</h3>
        <h4 class="lw14-landing-staff-position">{{ .Params.position }}</h4>
        <div class="lw14-landing-staff-text">
          {{ .Content }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>

{{ end }}
