{{ $currentPage := . }}

<nav class="lw14-nav-container navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="row">
      <div class="lw14-nav col-xs-12">
        <a class="lw14-nav-logo" href="/">Living Water Evangelical Church</a>
        <div class="lw14-nav__links">
          {{ range .Site.Menus.main }}
            {{ if $currentPage.IsMenuCurrent "main" . }}
              <div class="lw14-nav__link lw14-nav__link--active">
                {{ .Name }}
              </div>
            {{ else }}
              <a
                class="lw14-nav__link"
                href="{{ .URL }}"
              >
                {{ .Name }}
              </a>
            {{ end }}
          {{ end }}
        </div>
        <button type="button" class="lw14-nav__mobile-nav-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="lw14-mobile-nav">
    <button type="button" class="lw14-mobile-nav__close">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>

    <div class="lw14-mobile-nav__links">
      {{ range .Site.Menus.main }}
        {{ if $currentPage.IsMenuCurrent "main" . }}
          <div class="lw14-nav__link lw14-nav__link--active">
            {{ .Name }}
          </div>
        {{ else }}
          <a
            class="lw14-nav__link"
            href="{{ .URL }}"
          >
            {{ .Name }}
          </a>
        {{ end }}
      {{ end }}
    </div>
  </div>
</nav>
