<div class="lw14-sermon col-xs-12">
  <div class="row">
    <div class="lw14-sermon__title col-xs-12 col-sm-8">
      {{ .Title }}
    </div>
    <div class="lw14-sermon__date col-xs-12 col-sm-4">
      {{ .Date.Format "Jan 2, 2006" }}
    </div>
  </div>
  <div class="row">
    <div class="lw14-sermon__speaker col-xs-12">
      {{ .Params.speaker }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="lw14-sermon__audio-container">
        <audio class="lw14-sermon__audio" controls src="{{ .Params.sermonUrl }}">
          <a class="lw14-sermon__noaudio-link" href="{{ .Params.sermonUrl }}" target="_blank">Play sermon</a>
        </audio>
      </div>
    </div>
  </div>
</div>
